<li>
  <%= chatroom.name %>

  <script>
    function passkey() {
    var numberOfGuesses = 1;
    var passwordPrompt = prompt('Please Enter <%= chatroom.name %> Passkey',' ');
    while (numberOfGuesses < 3) {
    if (!passwordPrompt)
    history.go(-1);
    if (passwordPrompt.toLowerCase() == <%= chatroom.passkey %>) {
    window.open('chatrooms/<%= chatroom.id %>');
    break;
    }
    testV+=1;
    var passwordPrompt =
    prompt('Access Denied - Password Incorrect, Please Try Again.','Password');
    }
    if (pass1.toLowerCase()!="password" & testV ==3)
    history.go(-1);
    return " ";
    }
  </script>

  <form>
    <input type="button" value="Enter Chat" onClick="passkey()">
  </form>
</li>
