<script>
  window.PASSKEY = "<%= chatroom.passkey %>";
  window.CHATROOM = "Please enter the passkey for <%= chatroom.name %>";
  window.PATH = "chatrooms/<%= chatroom.id %>"
</script>

<li>
  <%= chatroom.name %>

  <form class="enter-chatroom">
    <input type="button" value="Enter Chat" onClick="passkey()">
  </form>
</li>
