<h2>Cat Chat Alley</h2>
<h4>Select a catroom, lounge, have some nip, drink, whatever you want.</h4>
<p>Registered cats can make their own catroom!</p>
<% if current_user.user? %>
  <p>Just click the 'Create Catroom' button below!</p>
<% end %>

<div class="chatroom_list">
  <ul>
    <%= render @chatrooms, user: current_user %>
  </ul>
</div>

<div class="create_chat">
  <% if current_user.user? %>
    <%= link_to "Create Catroom", [:new, :chatroom] %>
  <% end %>
</div>
