div.chat_container {
	width: 800px;
	float: left;
}

.chat_box {
	width:700px;
	height: 500px;
	word-break: break-all;
	overflow-y: auto;
}

.chat_entry{
	width: 700px;
}

#message_body {
	width: 635px;
}
